<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoanService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53564/WCFServices/LoanService/LoanService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoanService"
                contract="ILoanService" name="BasicHttpBinding_ILoanService" />
        </client>
    </system.serviceModel>
</configuration>