<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBankDetailsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53564/WCFServices/BankDetailsService/BankDetailsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankDetailsService"
                contract="IBankDetailsService" name="BasicHttpBinding_IBankDetailsService" />
        </client>
    </system.serviceModel>
</configuration>